$c-header-bg-color: #438eb9;
$c-button-danger-color: #d15b47;
$c-text-link-color: #478fca;
$c-text-sub-color: #a9a9a9;

$font-size-regular: 16px;
$font-size-small: 12px;
$space-xs: 4px;
$space-s: 8px;
